@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Open+Sans&display=swap');

/* keyframes */
@keyframes arrow {
    from { transform: translateY(-12px); }
    to { transform: translateY(12px); opacity: 0; }
}


html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;

}

body {
    font-family: 'Raleway', sans-serif;
}

/* HERO */

.hero {
    position: relative;
    background-size: 100% 100%;
    margin-top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    background: url("/img/hero.jpg");
    filter: brightness(65%) blur(3px);
    background-size: 100%;
    height: calc(100% + 11px);
    width: calc(100% + 9px);
    z-index: -1;
}

.nav {
    width: 100%;
    margin-top: 3.5em;
    height: 4.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.button-list {
    margin-right: 5em;
}

.button-item {
    position: relative;
    color: #fdfdfd;
    border: solid 1px #fdfdfd;
    font-size: 1em;
    margin: -3px;
    text-transform: uppercase;
    padding: 1.5em 2em;
}

.button-item:hover {
    color: #2c2c2c;
}

.button-item:hover::before {
    transform: translateY(-100%);
}

.button-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:100%;
    background-color: #fdfdfd;
    transition: transform .3s;
    transition-timing-function: ease-out;
    z-index: -1;
}

.button-item:nth-of-type(even)::before {
    background-color: rgb(19, 19, 19);
    top: -100%;
}

.button-item:nth-of-type(even):hover {
    color: #d8d8d8;
}

.button-item:nth-of-type(even):hover::before {
    transform: translateY(100%);
}

.container {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-left: 5em;
    cursor: pointer;
    transition: transform .3s;
}

.logo:hover {
    transform: scale(1.2);
}

.title p {
    font-family: 'Nanum Brush Script', cursive;
    font-weight: bold;
    font-size: 5em;
    transform: rotate(-4deg);
    color: white;
}

.arrow-wrapper {
    text-align: center;
    font-size: 3.2em;
}

.arrow {
    position: absolute;
    height: 80px;
    width: 80px;
    bottom: 5px;
    color: #cccccc;
    animation: arrow 3s ease-in-out infinite;
}

.arrow:hover {
    color: #9b9b9b;
}

/* Article */

.article {
    height: 70vh;
    width: 100%;
    background-color: #fafafa;
}